# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/Frontend_V1/circuitsfe/dist
/Frontend_V1/circuitsfe/tmp
/Frontend_V1/circuitsfe/out-tsc
/Frontend_V1/circuitsfe/bazel-out

# Node
/Frontend_V1/circuitsfe/node_modules
/Frontend_V1/circuitsfe/npm-debug.log
/Frontend_V1/circuitsfe/yarn-error.log

# IDEs and editors
/Frontend_V1/circuitsfe/.idea/
/Frontend_V1/circuitsfe/.project
/Frontend_V1/circuitsfe/.classpath
/Frontend_V1/circuitsfe/.c9/
/Frontend_V1/circuitsfe/*.launch
/Frontend_V1/circuitsfe/.settings/
/Frontend_V1/circuitsfe/*.sublime-workspace

# Visual Studio Code
/Frontend_V1/circuitsfe/.vscode/*
/Frontend_V1/circuitsfe/!.vscode/settings.json
/Frontend_V1/circuitsfe/!.vscode/tasks.json
/Frontend_V1/circuitsfe/!.vscode/launch.json
/Frontend_V1/circuitsfe/!.vscode/extensions.json
/Frontend_V1/circuitsfe/.history/*

# Miscellaneous
/Frontend_V1/circuitsfe/.angular/cache
/Frontend_V1/circuitsfe/.sass-cache/
/Frontend_V1/circuitsfe/connect.lock
/Frontend_V1/circuitsfe/coverage
/Frontend_V1/circuitsfe/libpeerconnection.log
/Frontend_V1/circuitsfe/testem.log
/Frontend_V1/circuitsfe/typings

# System files
/Frontend_V1/circuitsfe/.DS_Store
/Frontend_V1/circuitsfe/Thumbs.db
