<strong> Number of inputs qubits</strong>
<input type="number" [(ngModel)]="inputQubits" min="1">
<br>

<strong> Number of outputs qubits</strong>
<input type="number" [(ngModel)]="outputQubits" min="1">
<br>

<button (click)="buildMatrix()" [disabled]="inputQubits!<=0 || outputQubits!<=0">buildMatrix</button>
<br>

<table *ngIf="matrix">
    <tr>
        <td colspan="inputQubits+outputQubits">
            <button (click)="generateCode()">Generate code</button>
        </td>
    </tr>
  <tr *ngFor="let row of matrix.table; let rowNumber = index">
    <td *ngFor="let value of row; let colNumber = index">
        <span *ngIf="colNumber<inputQubits" style="color : blue">
            {{value}}
        </span>
        <span *ngIf="colNumber>=inputQubits" (click)="negate(rowNumber, colNumber)" style="color : red">
            {{value}}
        </span>
    </td>
  </tr>
</table>